<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <header>
            <h2>All Messsages</h2>
            <a href="new" id="new">New Message</a>
        </header>

        <div class="messages">
            <% messages.forEach((message) => { %>
                <a href="/message/<%= message.id %>" class="box-link">
                    <div class="message-box">
                        <div class="user-name">
                            <p id="person"><%= message.username %></p>
                            <p><%= message.added.toLocaleString() %></p>
                        </div>
                        
                        <p id="message">
                            <% if (message.text.length > 21) { %>
                                <%= message.text.substring(0, 21) + '...' %>
                            <% } else { %>
                                <%= message.text %>
                            <% } %>
                        </p>
                    </div>
                </a>
            <% }); %>
        </div>

    </body>
</html>